@mixin clearFix {
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

/* MEDIA QUERIES BREAK POINT FORMAT MANAGER
0-600px  : phone
600-900px : tablet portrait view
900-1200px : tablet landscape view
120px + : desktops and laptops

ORDER THAT IS USED TO EDIT TTHE FUNCTIONALITY TO SMALLER SCREEN SIZE : 
BASE + TYPOGRAPHY > GENERAL LAYOUT + GRID > COMPONENTS  


BREAK POINT ARGUMENT CHOICES
- phone
-tab-port
-tab-land
-desktop

PIXEL FORMAT FROM (PX -EM)
1EM = 16PX

*/
@mixin respond($breakpoint) {
    @if $breakpoint ==  tab-land {
        @media (max-width: 75em) {@content};     //1200px
    }
    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) {@content};  //900px
    }
    @if $breakpoint == phone {
        @media (max-width: 37.5em) { @content};  //600px
    }
   
    
    @if $breakpoint ==  desktop {
        @media( min-width: 112.5em) {@content};  //1800px
    }
    
}