// COLOR VARIABLES  
$color-primary: #364ba4;
$color-primary-light:#4b5aaa;
$color-primary1-light:#FF0048;
$color-primary1-dark:#9B1C2E;
$color-primary-dark: #081341;
$color-grey-light: #eee;
$color-grey-light-2: #f7f7f7;
$color-grey-dark: #777;
$color-grey-dark2:#999;
$color-grey-dark3:#222;

$color-white:#fff;
$color-black: #000;

$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;

$color-tetiary-light:#157b52;
$color-tetiary-dark:#042d1d;


//FONT SIZES
$default-font-size: 1.6rem;


//GRID VARIABLES
$gird-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small:7rem;
$gutter-vertical-smaller:5.5rem;
$gutter-horizontal: 6.5rem;
